.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px;
 }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li {
  list-style-type: none;
}

.form-container {
/*background-color: cyan;*/
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

.table-container {
/*background-color: lightblue;*/
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.panel {

}
